<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body>
<div th:include="components/header :: header"></div>
<div class="container">
    <table class="table table-striped">
        <th:block th:each="quiz : ${quizzes}">
            <tr>
                <td th:text="${quiz.name}">No name</td>
                <td>
                    <a th:href="@{/edit(id=${quiz.id})}">
                        <button type="button" class="btn btn-warning">
                            Edytuj
                        </button>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        Rozwiąż quiz
                    </button>
                </td>
            </tr>
        </th:block>
    </table>
</div>

</body>
</html>