<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="components/head :: head"></head>
<body>
<div th:include="components/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>
                Edytujesz quiz <span th:text="${quiz.name}"></span>
            </h1>
        </div>
        <div class="col-3"></div>
    </div>

</div>
<!--<div class="jumbotron">-->
    <!--<h1 class="display-4">Wiosenne Quizy</h1>-->
    <!--<p class="lead">Prosty projekt robiony na zaliczenie ze Springa. Autor Oleksandr Fedoruk.</p>-->
    <!--<hr class="my-4">-->
    <!--<p>Możesz stworzyć własny quiz lub spróbować quizy innych twórców.</p>-->
    <!--<a class="btn btn-primary btn-lg" href="" role="button">Zobacz listę quizów</a>-->
    <!--<a class="btn btn-primary btn-lg" href="/create" role="button">Stwórz własny</a>-->
<!--</div>-->

<!--<p>Get your greeting <a href="/greeting">here</a></p>-->


</body>
</html>