<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body>
<div th:include="components/header :: header"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Wiosenne Quizy</h1>
        <p class="lead">Prosty projekt robiony na zaliczenie ze Springa. Autor Oleksandr Fedoruk.</p>
    </div>
</div>
<div class="container">
    <ul class="list-group">
        <li th:each="quiz : ${quizzes}" class="list-group-item">
            <span th:text="${quiz.name}">Nowy quiz</span>
            <a th:href="@{/edit(quizId=${quiz.id})}">
                <button type="button" class="btn btn-success">Edytuj</button>
            </a>
            <a th:href="@{/solve(quizId=${quiz.id})}">
                <button type="button" class="btn btn-warning">Rozwiąż</button>
            </a>
        </li>
    </ul>
</div>
</body>
</html>