<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body>
<div th:include="components/header :: header"></div>
<div class="container">
    <div class="jumbotron">
        <h1 th:text="${quiz.name}" class="display-4"></h1>
        <p class="lead">Edycja quizu</p>

    </div>
</div>


<div class="container">
    <a th:href="@{/new-question(quizId=${quiz.id})}">
        <button type="button" class="btn btn-success">Dodaj pytanie</button>
    </a>
    <!--<a th:href="@{/}">-->
    <button type="button" class="btn btn-danger">Usuń quiz</button>
    <!--</a>-->
    <a th:href="@{/}">
        <button type="button" class="btn btn-primary">Wróc dp listy quizów</button>
    </a>
</div>

<div class="container">
    <ul class="list-group">
        <li th:each="question : ${questions}" class="list-group-item">
            <span th:text="${question.text}">No question text</span>
        </li>
    </ul>
</div>
</body>
</html>