<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body>
<div th:include="components/header :: header"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${quiz.name}"></h1>
        <p class="lead">Dodanie nowego pytania</p>
    </div>
    <form action="#" th:action="@{/new-question}" th:object="${questionform}" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Treść pytania" aria-label="Treść pytania"
                   aria-describedby="basic-addon1"
                   th:field="*{text}" name="text">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" th:field="*{correctIs}" value="1" checked>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Wariant odpowiedzi 1"
                   aria-label="Wariant odpowiedzi 1"
                   aria-describedby="basic-addon1" th:field="*{answer1}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" th:field="*{correctIs}" value="2">
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Wariant odpowiedzi 2"
                   aria-label="Wariant odpowiedzi 2"
                   aria-describedby="basic-addon1" th:field="*{answer2}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" th:field="*{correctIs}" value="3">
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Wariant odpowiedzi 3"
                   aria-label="Wariant odpowiedzi 3"
                   aria-describedby="basic-addon1" th:field="*{answer3}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" th:field="*{correctIs}" value="4">
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Wariant odpowiedzi 4"
                   aria-label="Wariant odpowiedzi 4"
                   aria-describedby="basic-addon1" th:field="*{answer4}">
        </div>

        <input type="text" th:value="${quiz.id}" name="quizId" style="visibility: hidden"/>

        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a th:href="@{/edit(quizId=${quiz.id})}">
            <button type="button" class="btn btn-danger">Cofnij</button>
        </a>
    </form>
</div>

<script>document.getElementsByName("correctIs")[0].checked = true;</script>
</body>
</html>