<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body>
<div th:include="components/header :: header"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${quiz.quiz.name}"></h1>
        <p class="lead">Rozwiąż quiz</p>
    </div>


    <div class="row" th:each="question : ${quiz.questions}">
        <form method="POST" action="/solve" style="width: 100%;">
            <div class="card">
                <div class="card-header" th:text="${question.text}"></div>
                <div class="card-body">
                    <div th:each="answer : ${question.answerList}">
                        <label>
                            <input type="radio" th:name="${answer.getId()}"/>
                            <span th:text="${answer.gettext()}"></span>
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
    </div>
</div>
</body>
</html>