<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: head"></head>
<body>
<div th:include="components/header :: header"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${correct} + '/' + ${total}"></h1>
        <p class="lead">Twój wynik!</p>
    </div>
</div>
</body>
</html>